
.backlog {
    color: #003847;
}

.backlog .row {
    margin-bottom: 1.5em;
}

.backlog label {
    font-size: 1.2em;
    font-weight: bold;
}

.backlog_left {
    background: #eef0f0;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 1px;
    border-radius: 10px;
}

#backlog-footer {
    height: 2em;
    background: #000;
    position: relative;
    margin-bottom: 0;
}

#btn-backlog-create {
    background-color: #3c6873;
    border-radius: 8px;
    margin-top: -15px;
}

.backlog_right {
    background: #eef0f0;
    max-height: 75vh;
    min-height: 10vh;
    border-radius: 10px;
    margin-top: 0px;
    padding: 10px;
    overflow: auto;
}

.backlog-card {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border-radius: 5px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-color: #406A75;
}

#backlog-label {
    background: #78cfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
#backlog-label p {
    margin: auto;
    text-align: center;
}

#backlog-icon{
    padding: 0;
    background: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-color: #406A75;
}

#backlog-icon i{
    color: #fff;
}

#backlog-icon button {
    margin: auto;
    color: #fff;
}

#backlog-icon button:hover {
    background: rgb(60,104,115);
    border-radius: 45%;
}

.backlog_right .row {
    margin-bottom: 1em;
}


#todo-backlog{
    background-color: rgb(255,115,115, 0.7);
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
}
#in-progress-backlog{
    background-color: rgba(3, 168, 244, 0.575);
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
}
#done-backlog{
    background-color: #ffd100;
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
}
#approved-backlog{
    background-color: #4adf82;
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
}
#backlog-error{
    text-align: center;
}

.modal-footer {
    margin-top: -1em;
}

@media (min-width: 576px) {
    .backlog_left {
        margin-bottom: 2em;
    }
    .backlog .container {
        max-width: 85%;
    }
    #backlog-label {
        border-radius: 0 0 0 5px;
    }
    #backlog-icon{
        border-radius: 0 0 5px 0;
    }
}

@media (min-width: 768px) {
    .backlog_left {
        margin-bottom: 2em;
    }
    .backlog .container {
        max-width: 90%;
    }
    #backlog-label {
        border-radius: 0;
    }
    #backlog-icon{
        border-radius: 0 5px 5px 0;
    }
}

@media (min-width: 992px) {
    .backlog_left {
        margin-bottom: 0em;
    }
    .backlog .container {
        max-width: 90%;
    }
    #backlog-label {
        border-radius: 0;
    }
    #backlog-icon{
        border-radius: 0 5px 5px 0;
    }
}

.validation_message{
    color: red;
}
.status_text{
    margin: auto auto auto auto;
}
.bottom_content{
    top: -20px;
    position: relative;
}