#canbanboard {
    /* margin-top: 5em; */
    max-width: 90%;
}

.board {
    margin: 8px;
    background-color: #E2ECEF;
    border-radius: 5px;
    height: 75vh;
}

.board-header{
    margin: 10px;
}

.board-body{
    overflow: auto;
    height: 70vh;
}

.board-body .board-card {
    margin: 10px;
    border-radius: 2px;
    background-color: #fff;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-color: #406A75;
}

.board-body .board-card #card-heading{
    height: 2em;
    padding: 5px;
}

.board-body .board-card #card-heading button {
    float: right;
    top: 0;
    right: 0;
    padding: 0 5px;
}

.board-body .board-card #card-heading button:active {
	padding: 2px;
}

.board-body .board-card #card-body p {
    padding: 5px;
}


.board-body #todo #card-heading{
    background-color: rgb(255,115,115, 0.7);
}
.board-body #in-progress #card-heading{
    background-color: rgba(3, 168, 244, 0.575);
}
.board-body #done #card-heading{
    background-color: #ffd100;
}
.board-body #approved #card-heading{
    background-color: #4adf82;
}
#backlog-error{
    text-align: center;
}
