.section3,.section4,.section5{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    border-color: 5px solid black;
    
}

#bg-nested-dropdown-sn{
    background-color: rgb(231, 231, 231);
    color: black;
    border-radius: 20px 20px 20px 20px;
    height: 50px;
    font-weight: 500;
    width: 70%;
    border: 2px solid blue;
    margin: 0 auto 0 auto;
}
#bg-nested-dropdown-sn:hover{
    background-color: rgb(187, 187, 187);
}
.search-select{
    width: 70%;
    margin: 0 auto 0 auto;
    color: black;
    font-weight: 500;
}
.logo_pic_sn{
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50px 50px  50px 50px;
    margin-right: auto;
    margin-left: auto;
}
.logo_pic_sn img{
    height: 100px;
    width: 100px;
}
#Nav_option_sn{
    width: inherit !important
}
#Nav_option_sn:hover{
    /* background: linear-gradient(180deg, #003847 0%, rgba(0, 56, 71, 0.75) 100%); */
        background: none;
}
#Nav_option_sn:link{
        /* background: linear-gradient(180deg, #003847 0%, rgba(0, 56, 71, 0.75) 100%); */
            background: none;
}
#Nav_option_sn:active{
        /* background: linear-gradient(180deg, #003847 0%, rgba(0, 56, 71, 0.75) 100%); */
        background: none;
        color: black;
}
       

#notification_sn{
    height: 30px;
    
    color: rgb(48, 48, 48);
}
#notification_sn:hover{
    color: rgb(82, 81, 81);
    cursor: pointer;
}
.notification_option_sn{
    border: 2px solid rgb(110, 110, 240);
    border-radius: 25px ;
    padding:5px 10px 0 10px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    width: 10rem;
    margin-right: auto;
    margin-left: auto;
    color: black;
    background-color: white;

}
.notification_option_sn:hover{
    background-color: rgb(197, 197, 197);
    font-weight: bold;
}