body{
    background-color: #FFFFFF;
    margin-top:20px;
}

.bg-container {
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(130deg, #FFFFFF 0 64%, #003847 62%, #33606C 68%, #FFFFFF 68% 70%, #003847 70% ,#33606C 74%, #FFFFFF 74% 100%);       */
    padding-bottom: 20px;
}

.bg-myColor {
    background: linear-gradient(#003847, #33606C);
}

.auth-box {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.auth-box .form-wrap {
  /* padding: 30px 25px; */
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}


@media (min-width: 576px) {
    .auth-box .form-wrap {
        padding: 45px;

    }
    .auth-box {
        border-radius: 1em;
        margin-top: 2em;

    }
    .auth-box .form-wrap {
        border-radius: 0 1em 1em 0;
        margin-right: -12px;
        margin-left: -12px;
        margin-top: 30px;
    }
   #img1 {
        margin-top: 2em;;
    }
}

@media (min-width: 768px) {
    .auth-box {
        border-radius: 1em;
        margin-top: 2em;
    }
    .auth-box .form-wrap {
        border-radius: 0 1em 1em 0;
        margin-right: -12px;
        margin-top: 0px;
        padding: 10px;
    }
   #img1 {
        margin-top: -2em;
    }
    .form-wrap h2 {
        font-size: 1.5em;
        margin-bottom: -10px;
    }   
}

@media (min-width: 992px) {
    .auth-box {
        margin: 85px 0;
        border-radius: 0 0 2em 0;
        height: 550px;
    }
    .auth-box .form-wrap {
        margin-top: 60px;
        margin-bottom: 0px;
        padding: 60px;
        border-radius: 2em 0 2em 0;
        height: 490px;

    }
    .bg-container {
        background: linear-gradient(130deg, #FFFFFF 0 64%, #003847 62%, #33606C 68%, #FFFFFF 68% 70%, #003847 70% ,#33606C 74%, #FFFFFF 74% 100%);
    }
    .form-wrap h2 {
        margin-top: -1.2em;
        font-size: 2em;
        margin-bottom: 0px;
    }   
}



#img1 {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-group input[type='text'], .form-group input[type='email'], .form-group input[type='password'] {
    /* padding-left: 60px; */
    text-align: center;
    margin-bottom: 1em;
    border: 1px solid;
    border-radius: 6px;
    font-size: 16px;;
    padding: 5px;
}

#signup {
    background-color: #33606C;
    border-radius: 50px;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    padding: 0 20px 0 20px;
    font-weight: bold;
    /* font-family: Inter; */
    color: #fff;
}

#signup:hover{
    background-color: #ff7900;
    color: #000;
}

#signin {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    padding: 0 20px 0 20px;
    font-weight: bold;
    /* font-family: Inter; */
    color: #000;
}

#signin:hover{
    background-color: #ff7900;
    color: #fff;
}

#h2-c1 {
    color: #003847;
}

#h2-c2 {
    color: #33606C;
}

